@{
    ViewData["Title"] = "Працевлаштування";
}
<style>
    .jumbotron p {
        text-indent: 30px;
    }

    .jumbotron h5 {
        text-align: center;
    }
    @@media screen and (max-width: 768px) {
        h1.title {
            font-size: 32px;
        }
    }
    
</style>
<div class="jumbotron pt-4 pb-4">
    <h1 class="display-4 text-center mb-4 title">Працевлаштування</h1>
    <p class="lead text-justify">
        Індивідуальний пошук і підбір робочого місця під ваші побажання і кваліфікацію - від робітничих професій до
        висококласних фахівців у всіх областях
    </p>
    <hr class="my-4">
    <h5 class="mb-3">
        Щоб дізнатися більше про загальні умови працевлаштування і відкриті вакансії
        <a href="#">
            напишіть або зателефонуйте
        </a> нам
    </h5>
    <a class="btn btn-success btn-md" asp-controller="Home" asp-action="Contacts" role="button">Зв'язатися з нами</a>
</div>