@{
    ViewData["Title"] = "Страхування авто";
}
<style>
    .jumbotron p {
        text-indent: 30px;
    }
    .jumbotron h5 {
        text-align: center;
    }
</style>

<div class="jumbotron pt-4 pb-4">
    <h1 class="display-4 text-center mb-4">Cтрахування авто</h1>
    <p class="lead text-justify">
        Автоцивілка є  обов'язковим страхуванням цивільно-правової відповідальності власників наземних транспортних засобів.
        Цей вид страхування спрямований на забезпечення відшкодування шкоди, заподіяної життю, здоров'ю та майну потерпілих,
        при експлуатації транпортних засобів на території Чехії.
    </p>
    <p class="lead text-justify font-italic text-info">
        Обов’язковою умовою страхування є те, що транспортний засіб, котрий є предметом страхування, має бути внесений у
        загальний реєстр транспортних засобів Чеської республіки.
    </p>
    <hr class="my-4">
    <h5 class="mb-3">
        Більше про загальні умови страхування автотранспортних засобів та перелік послуг читайте
        <a href="https://www.slavia-pojistovna.cz/cs/obcanske-pojisteni/povinne-ruceni-1/">
            тут
        </a>
    </h5>
    <a class="btn btn-success btn-md" asp-controller="Home" asp-action="Contacts" asp-route-serviceType="car" role="button">Купити страхування</a>
</div>