@{
    ViewData["Title"] = "Комплексне страхування";
}
<style>
    .jumbotron p {
        text-indent: 30px;
    }

    .jumbotron h5 {
        text-align: center;
    }
</style>
<div class="jumbotron pt-4 pb-4">
    <h1 class="display-4 text-center mb-4">Комплексне медичне страхування</h1>
    <p class="lead text-justify">
        Комплексне медичне страхування передбачає розширені можливості надання медичної допомоги.
        Обсяг страхових послуг за цією програмою є аналогічний з обсягом страхових послуг загального
        медичного страхування у Чехії, однак є обмежений встановленими лімітами страхового відшкодування.
    </p>
    <p class="lead text-justify">
        Страхування за даною програмою можуть насамперед використати діти, дорослі, вагітні жінки, та жінки,
        що планують вагітність, професійні спортсмени, а також усі дорослі особи, котрі бажатимуть отримати
        медичну допомогу у більшому обсязі ніж це передбачено за програмою страхування «Стандарт».
    </p>
    <hr class="my-4">
    <h5 class="mb-3">
        Більше про загальні умови комплексного медичного страхування  та перелік послуг читайте
        <a href="https://www.slavia-pojistovna.cz/ru/kompleksnoe-medicinskoe-strakhovanie-2/">
            тут
        </a>
    </h5>
    <a class="btn btn-success btn-md" asp-controller="Home" asp-action="Contacts" asp-route-serviceType="complex" role="button">Купити страхування</a>
</div>