@{
    ViewData["Title"] = "Нострифікація документів";
}
<style>
    .jumbotron p {
        text-indent: 30px;
    }

    .jumbotron h5 {
        text-indent: 30px;
    }
</style>
<div class="jumbotron pt-4 pb-4">
    <h1 class="display-4 text-center mb-4">Нострифікація документів</h1>
    <p class="lead text-justify">
        Нострифікація документів про освіту передбачає повний комплекс заходів щодо визнання Міністерством освіти Чеської
        республіки документів про освіту іноземних громадян.
    </p>
    <p class="lead text-justify">
        Для нострифікації документів про освіту необхідно представити диплом та додаток до диплому. Ми забезпечимо повний
        пакет усіх необхідних документів (офіційна плата за нострифікацію диплому є встановлена Міністерством Освіти Чехії
        і від 01.09. становить 3000 чеських корун).
    </p>
    <p class="lead text-justify font-italic text-info">
        Ціна нострифікації залежатиме від побажання клієнта і буде встановлюватися індивідуально.
    </p>
    <hr class="my-4">
    <h5 class="mb-3">
        Більше про загальні умови нострифікації документів та перелік послуг читайте
        <a href="http://www.msmt.cz/vzdelavani/vysoke-skolstvi/nostrifikace">
            тут
        </a>
    </h5>
    <a class="btn btn-success btn-md" href="#" role="button">Купити онлайн</a>
</div>