@{
    ViewData["Title"] = "Страхування жила та нерухомості";
}
<style>
    .jumbotron p {
        text-indent: 30px;
    }

    .jumbotron h5 {
        text-indent: 30px;
    }
</style>
<div class="jumbotron pt-4 pb-4">
    <h1 class="display-4 text-center mb-4">Страхування жила та нерухомості</h1>
    <p class="lead text-justify">
        Пакетний вид страхування, що дозволяє швидко та недорого захистити власне нерухоме майно з таким переліком ризиків, що
        підходить саме вам. Пропонує страхування житла та нерухомості для покриття збитків у квартирах, будинках, будинках для
        відпочинку, гаражах, басейнах та інших об'єктах, викликаних пожежами, вибухом, блискавкою, грозою, градом, землетрусом,
        ударом автомобіля або літака, падінням дерева, чи крадіжкою.
    </p>
    <p class="lead text-justify">
        Служба допомоги допоможе вирішити кризову ситуацію. До цього страхування можуть бути додані додаткові види страхування,
        такі як пошкодження снігом та водою або вандалізм.
    </p>
    <hr class="my-4">
    <h5 class="mb-3">
        Більше про загальні умови страхування житла і нехухомості та перелік послуг читайте
        <a href="https://www.slavia-pojistovna.cz/cs/obcanske-pojisteni/pojisteni-bytu-domu-a-domacnosti/">
            тут
        </a>
     </h5>
     <a class="btn btn-success btn-md" href="#" role="button">Купити онлайн</a>
</div>