@{
    ViewData["Title"] = "Страхування \"Стандарт\"";
}
<style>
    .jumbotron p{
        text-indent: 30px;
    }
    .jumbotron h5 {
        text-align: center;
    }
</style>
<div class="jumbotron pt-4 pb-4">
    <h1 class="display-4 text-center mb-4">Медичне страхування "Стандарт"</h1>
    <p class="lead text-justify">Медичне страхування за страховою програмою «Стандарт» передбачає надання необхідної та
    невідкладної медичної допомоги іноземним громадянам, що перебувають на території Чеської республіки.</p>
    <p class="lead text-justify">Медичне страхування за програмою стандарт є обовязковим для усіх іноземних громадян, котрі
    перебувають на території Чехії і випливає із § 5 Закону № 326/1999 збірки законів про перебування іноземних
    громадян на території Чехії.</p>
    <p class="lead text-justify"> Медичне страхування «Стандарт» покриває видатки пов'язані із оглядом хворого у випадку під час надання йому
    невідкладної медичної допомоги.</p>
    <hr class="my-4">
    <h5 class="mb-3">Більше про загальні умови медичного страхування та перелік послуг читайте
        <a href="https://www.slavia-pojistovna.cz/files/produkty-prilohy/vpp-nzpc-05-2018-ru.pdf">
            тут
        </a>
    </h5>
    <a class="btn btn-success btn-md" asp-controller="Home" asp-action="Contacts" asp-route-serviceType="standart" role="button">Купити страхування</a>
</div>