@{
    ViewData["Title"] = "Туристичне страхування";
}
<style>
    .jumbotron p {
        text-indent: 30px;
    }

    .jumbotron h5 {
        text-indent: 30px;
    }
</style>
<div class="jumbotron pt-4">
    <h1 class="display-4 text-center mb-4">Туристичне страхування</h1>
    <p class="lead text-justify">
        Туристичне страхування передбачає комплекс послуг з страхування осіб, котрі збираються у подорож за кордон.
        Страховий поліс передбачає короткострокове та довгострокове страхування подорожуючих. Туристичний поліс
        відповідатиме побажанням подорожуючого чи групи осіб. Ми допоможемо вам правильно вибрати туристичний поліс.
    </p>
    <hr class="my-4">
    <h5 class="mb-3">
        Більше про загальні умови туристичного страхування  та перелік послуг читайте
        <a href="https://www.slavia-pojistovna.cz/cs/obcanske-pojisteni/cestovni-pojisteni-svet-1/">
            тут
        </a>
    </h5>
    <a class="btn btn-success btn-md" href="#" role="button">Купити онлайн</a>
</div>