@{
    ViewData["Title"] = "Контакти";
}
<div class="container">
    <div class="row">
        <div class="col col-md-7 pb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <i class="fa fa-envelope"></i> Напишіть нам
                </div>
                <div class="card-body">
                    <form asp-action="SendMessage" asp-controller="Home" method="post">
                        <div class="form-group">
                            <label for="name">Ім'я</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Введіть ім'я" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Електронна пошта</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Введіть електронну пошту" required>
                        </div>
                        <div class="form-group">
                            <label for="number">Мобільний номер (необов'язково)</label>
                            <input type="tel" name="number" class="form-control" id="number" placeholder="Введіть мобільний номер (для зв'язку з вами)">
                        </div>
                        <div class="form-group">
                            <label for="message">Повідомлення</label>
                            <textarea class="form-control" name="message" id="message" rows="6" placeholder="Введіть текст повідомлення" required></textarea>
                        </div>
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-primary text-right" >Надіслати</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 mt-sm-3 mt-md-0">
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white"><i class="fas fa-phone-square"></i> Контакти</div>
                <div class="card-body">
                    <p>Email: polisgarant@email.cz</p>
                    <p>Email: tysdrib@ukr.net</p>
                    <p>Тел. +42 060 82 69 875</p>
                    <p>Тел. +42 077 49 06 699</p>
                    <p>Тел. +38 067 31 41 445</p>
                </div>
            </div>
        </div>
    </div>
</div>