@{
    ViewData["Title"] = "Контакти";
}
<style>
    .bloc_left_price {
        color: #c01508;
        text-align: center;
        font-weight: bold;
        font-size: 150%;
    }
    .category_block li:hover {
        background-color: #007bff;
    }
    .category_block li:hover a {
        color: #ffffff;
    }
    .category_block li a {
        color: #343a40;
    }
    .add_to_cart_block .price {
        color: #c01508;
        text-align: center; 
        font-weight: bold;
        font-size: 200%;
        margin-bottom: 0; 
    }
    .add_to_cart_block .price_discounted {
        color: #343a40;
        text-align: center;
        text-decoration: line-through;
        font-size: 140%;
    }
    .product_rassurance {
        padding: 10px;
        margin-top: 15px;
        background: #ffffff;
        border: 1px solid #6c757d;
        color: #6c757d;
    }
    .product_rassurance .list-inline {
        margin-bottom: 0;
        text-transform: uppercase;
        text-align: center;
    }
    .product_rassurance .list-inline li:hover {
        color: #343a40;
    }
    .reviews_product .fa-star {
        color: gold;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <i class="fa fa-envelope"></i> Напишіть нам
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Ім'я</label>
                            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Введіть ім'я" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Електронна пошта</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введіть електронну пошту" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Повідомлення</label>
                            <textarea class="form-control" id="message" rows="6" placeholder="Введіть текст повідомлення" required></textarea>
                        </div>
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-primary text-right" >Надіслати</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase"><i class="fas fa-phone-square"></i> Контакти</div>
                <div class="card-body">
                    <p>Email : polisgarant@email.cz</p>
                    <p>Tel. +42 06 08 26 98 75</p>
                    <p>Tel. +38 00 00 00 00 00</p>
                </div>
            </div>
        </div>
    </div>
</div>